---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}
  <p>I am a teaching assistant in the following courses during the Fall 2023 semester at Budapest University of Technology and Economics:</p>

  <ul>
    <li><strong>Human-Computer Interaction:</strong> <a href="https://portal.vik.bme.hu/kepzes/targyak/VITMMA11/en/">more info</a></li>
    <li><strong>Deep Learning:</strong> <a href="https://portal.vik.bme.hu/kepzes/targyak/VITMMA19/hu/">more info</a></li>
    <li><strong>Deep Learning in Practice with Python and LUA:</strong> <a href="https://portal.vik.bme.hu/kepzes/targyak/VITMAV45/hu/">more info</a></li>
  </ul>


<p>I am a teaching assistant in the following courses during the Fall 2023 semester at Budapest University of Technology and Economics:</p>

  <table>
    <thead>
      <tr>
        <th>Role</th>
        <th>Time</th>
        <th>Course Name</th>
        <th>Course Details</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Teaching Assistant</td>
        <td>Fall 2023</td>
        <td>Human-Computer Interaction</td>
        <td><a href="https://portal.vik.bme.hu/kepzes/targyak/VITMMA11/en/">more info</a></td>
      </tr>
      <tr>
        <td>Teaching Assistant</td>
        <td>Fall 2023</td>
        <td>Deep Learning</td>
        <td><a href="https://portal.vik.bme.hu/kepzes/targyak/VITMMA19/hu/">more info</a></td>
      </tr>
      <tr>
        <td>Teaching Assistant</td>
        <td>Fall 2023</td>
        <td>Deep Learning in Practice with Python and LUA</td>
        <td><a href="https://portal.vik.bme.hu/kepzes/targyak/VITMAV45/hu/">more info</a></td>
      </tr>
    </tbody>
  </table>

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
