---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}
I am a teaching assistant in the following courses during Fall 2023 semester at Budapest University of Technology and Economics:
 - Human-Computer Interaction:  <a href = "https://portal.vik.bme.hu/kepzes/targyak/VITMMA11/en/">more info</a> ;
 - Deep learning: <a href = "https://portal.vik.bme.hu/kepzes/targyak/VITMMA19/hu/">more info</a> ;
 - Deep Learning in Practice with Python and LUA: <a href = "https://portal.vik.bme.hu/kepzes/targyak/VITMAV45/hu/">more info</a> .


{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
